include README.md
include LICENSE
include USER_GUIDE.md
include theory.md

recursive-include examples *.py
recursive-include core *.py
recursive-include rupture *.py
recursive-include rupture/sim *.py
recursive-include sim *.py

global-exclude __pycache__ *.py[cod] *.DS_Store
